.configure-container {
    max-width: 70%;
}
@media screen and (max-width: 2560px) {
    .configure-container {
        margin-left: 6%;
    }
}
@media screen and (max-width: 2240px) {
    .configure-container {
        margin-left: 14.5%;
    }
}
@media screen and (max-width: 2100px) {
    .configure-container {
        margin-left: 18%;
    }
}

@media screen and (max-width: 1920px) {
    .configure-container {
        margin-left: 23%;
    }
}

@media screen and (max-width: 1700px) {
    .configure-container {
        margin-left: 24%;
    }
}

@media screen and (max-width: 1530px) {
    .configure-container {
        margin-left: 27%;
    }
}

@media screen and (max-width: 1350px) {
    .configure-container {
        margin-left: 29%;
    }
}

@media screen and (max-width: 1120px) {
    .configure-container {
        margin-left: 31%;
    }
}
